HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified
ENCRYPTION_KEY=tobemodified


# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=HIclcS+1nPjOpe83YfSRiw==,DK+B5/jDwj53/LBWgWC10w==,wK7wt0YNtKsGRcpecdxU1g==,myZyN4bTxJBzVupmibVNfg==
API_TOKEN_SALT=BrpOwSU8Epvc0jg50WljPA==
ADMIN_JWT_SECRET=ZbkQqsb/Uju2vPig7TR0Sw==
TRANSFER_TOKEN_SALT=4UuXnK/sA+iLJLuwmDfcQw==
ENCRYPTION_KEY=eOwAwH/BMs7lKFPNh+Szpg==

# Database
DATABASE_CLIENT=sqlite
DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_SSL=false
DATABASE_FILENAME=.tmp/data.db
JWT_SECRET=6IdvUHMzAf0YQA6/hUZtMQ==

AIKIDO_TOKEN=[Tu token]


